@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');

:root {
  --dark: #000000;
  --light: #ffffff;
  --gray: #b8b5b5;
  --bg-section: #f5f5f5;
  --purple: #976AfB;
  --light-purple: #ae8bf9;
  --bg-purple: #645780;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Inter Tight', sans-serif; 
}

body {
  height: 100vh;
  width: 100%;
}

header, 
section,
footer {
  display: flex;
}

li {
  list-style-type: none;
}

a {
  color: var(--dark);
  text-decoration: none;
}